/* Many developers choose to reset these default values so that they can truly work with a clean slate. */
* {
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
}

.navigation {
    text-align: center;
    margin: 10px 0px;
}

/* TODO: responsive for mobile https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_topnav */
.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    /* position: fixed; */
    width: 100%;
    font-size:0; /* ref: http://stackoverflow.com/questions/5256533/a-space-between-inline-block-list-items */
}

.navigation li {
    font-weight: 100;
    font-size:16px;
    letter-spacing: 2px;
    color: white;
    text-align: center;
    text-transform: uppercase;

    width: 160px;
    padding: 20px 0px;
    /* margin: 0px 20px; */
    display:inline-block; /* ref: http://stackoverflow.com/questions/5256533/a-space-between-inline-block-list-items */
    /*border: 2px solid #FF0000;*/
}

.navigation li:hover:not(.navtab_active) {
    background-color: #111;
}

.navigation .navtab_active {
    background-color: #4CAF50;
}

#selfintro {
    text-align: center;
    height:40px;
    margin: auto;
}

#container {
    display: block;
    width: 100%;
    height: 100%;
}

.contentContainer {
    display: block;
    width: 100%;
    height: 100%;
}

.contentContainer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
/*
* webgl container
*/
#webglContainer {
    font-size: 0px;   /* ref https://css-tricks.com/fighting-the-space-between-inline-block-elements/ */
}

#webglNav {
    position: relative;
    width: 20%;
    min-width: 200px;
    height: 100%;
    border: 2px solid #4CAF50;
    display: inline-block;
    margin-right: -4px;
    font-size: 16px;
}

#webglContent {
    position: relative;
    width: 80%;
    height: 100%;
    display: inline-block;
    font-size: 16px;
}

#canvas {
    position: relative;
    display: block;
    /* box-sizing: border-box; */
    margin: auto;
    /*
    top: 0px;
    bottom: 0px;
    */
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#canvasNotSupport {
    background-image: url(#);
    display: none;

    color: #FF0000;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    text-transform: uppercase;

    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

/*
* music container
*/
.musiclink {
    display: block;
    margin: auto;
    width: 200px;
    text-align: center;
}