/* Many developers choose to reset these default values so that they can truly work with a clean slate. */
* {
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
}

.navigation {
    text-align: center;
    margin: 10px 0px;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    font-weight: 100;
    letter-spacing: 2px;
    padding: 20px 0px;
    text-transform: uppercase;
    margin: 0px 20px;
    display:inline-block;
}

li:hover {
    color: #aaa;
}

#selfintro {
    text-align: center;
    height:40px;
    margin: auto;
}

#container {
    display: block;
    width: 100%;
    height: 100%;
}

.contentContainer {
    display: block;
    width: 100%;
    height: 100%;
}

#canvas {
    position: relative;
    display: block;
    /* box-sizing: border-box; */
    margin: auto;
    /*
    top: 0px;
    bottom: 0px;
    */
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#canvasNotSupport {
    background-image: url(#);
    display: none;

    color: #FF0000;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    text-transform: uppercase;

    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}